*{margin: 0;padding: 0;}

body{
    
  background-image: url(../img/homem-em-um-salao-de-barbearia-fazendo-o-corte-de-cabelo-e-barba.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Ou outro valor desejado */
  background-position: center; /* Ou outra posição */
  background-color: #0000006b;
  width: 100vw;
  height: 100vh;
    
}
.titulo{
  display: block;
align-content: center;
justify-items: center;
 height: 200px; 
 
}
.titulo h1 {
text-align: center;
font-size: 36px;
color: #fff;
}
.entrar{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  text-align: center;
  /* height: 200px; */
  /* float: right; */
  
}
.entrar a{
  border-radius: 15px;
  font-size: 25px;
  background-color: #896f5743;
  color:#fff;
  width: 100px;
  height: 35px;
}
 
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 20px;
}   


nav ul li{
    display:inline-block;
    
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight:bold;
    border-radius: 8px;  
    font-weight: 900;
    text-shadow: 1px 0px 0px #896F57;
   
    
}
nav ul li a:hover{
background-color: #896F57;
border-radius: 18px;
color: #F6F6F6;
opacity: 0.5

}

.ocupado {
  background-color: #ccc;
  cursor: not-allowed;
}
.selected {
  background-color: yellow;
  color: white;
}


.espelho-escuro{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
 
}
.container-caixa{
  /* width: 100px; */
  height: 100px;
  text-align: center;
  padding: 15px;  
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-items: center;
}
.container-caixa a{   
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
  color: #fff; 
  
}

@media screen and (max-width: 768px){

  .container-caixa{
   display: flex;
   align-content: center;
   justify-items: center;
   height: 200px;
}
 
h1{
    color: white;
    font-size: 18px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
     
}  
   /* 
    padding: 20px;
    margin-top: 100px;
     */

nav ul li{
    display:inline-block;
    
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 9px;
     color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight:bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 0px;    
    left: 0px;
    border-radius: 8px;  
    font-weight: 900;
    text-shadow: 1px 0px 0px #896F57;
    /* -webkit-text-stroke-width: 1px; /* Largura da borda */
    /* -webkit-text-stroke-color: white; Cor da borda */ */
    
}
nav ul li a:hover{
background-color: #896F57;
border-radius: 18px;
color: #F6F6F6;
opacity: 0.5

}
.alinharmenu{
  margin-top: 52px;
  
  float:left;
}

.espelho-escuro{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
 
}
container-caixa a{
  /* float: right; */
  width: 100px;
  height: 20px;
  /* background-color: blue; */ 
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  color: #fff; 
  margin-left: 420px;
  margin-top: 400px;
}


}